Repository Shopify/shopify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shopify/core-build-learn, @shopify/development-lifecycle, @shopify/scripts-experience

.github/CODEOWNERS:

*       @shopify/core-build-learn
*       @shopify/development-lifecycle

/lib/project_types/script/ @shopify/scripts-experience
/test/project_types/script/ @shopify/scripts-experience

Specify the default value
  lib/project_types/theme/messages/messages.rb
Owners: @shopify/development-lifecycle

Fix tests
  test/project_types/theme/commands/serve_test.rb
Owners: @shopify/development-lifecycle

Rename http-bind to host
  lib/project_types/theme/messages/messages.rb
  test/project_types/theme/commands/serve_test.rb
Owners: @shopify/development-lifecycle

Add vscode theme
  .vscode/extensions.json
  .vscode/settings.json
Owners: @shopify/development-lifecycle

Configure GitHub Codespace
  .devcontainer.json
  Codespace.dockerfile
  Tests.dockerfile
  utilities/docker.rb
Owners: @shopify/development-lifecycle

Some cleanup and add shopify-dev
  install.sh
  shopify-dev
  shopify.fish
  shopify.sh
Owners: @shopify/development-lifecycle

Fix tests
  shopify-dev
  utilities/docker.rb
Owners: @shopify/development-lifecycle

Fix the building of the docker image
  utilities/docker.rb
Owners: @shopify/development-lifecycle

Remove docs redirects
  docs/_config.yml
  docs/app/node/commands/index.md
  docs/app/node/index.md
  docs/app/rails/commands/index.md
  docs/app/rails/index.md
  docs/core/index.md
  docs/getting-started/index.md
  docs/getting-started/install/index.md
  docs/getting-started/migrate/index.md
  docs/getting-started/uninstall/index.md
  docs/getting-started/upgrade/index.md
  docs/help/start-app/index.md
  docs/index.md
Owners: @shopify/development-lifecycle

Clean up README and reorganize the docs
  CONTRIBUTING.md
  README.md
  assets/logo.png
  docs/README.md
  docs/contributors/testing.md
  docs/users/installation.md
  docs/users/migrate-from-themekit.md
Owners: @shopify/development-lifecycle

Fix typo 'requre' ~> 'require'
  .github/DESIGN.md
Owners: @shopify/development-lifecycle

check for `.shopify-cli.yml` inside project
  features/app.feature
  features/step_definitions/commands/app.rb
  lib/shopify_cli/commands/app/create/node.rb
  lib/shopify_cli/project.rb
  lib/shopify_cli/services/app/create/node_service.rb
  utilities/docker/container.rb
Owners: @shopify/development-lifecycle

Replaced old URL with a new one
  lib/project_types/extension/messages/messages.rb
Owners: @shopify/development-lifecycle

fix linting issues
  lib/shopify_cli/services/app/create/node_service.rb
  utilities/docker/container.rb
Owners: @shopify/development-lifecycle

Remove docs redirects
  docs/_config.yml
  docs/app/node/commands/index.md
  docs/app/node/index.md
  docs/app/rails/commands/index.md
  docs/app/rails/index.md
  docs/core/index.md
  docs/getting-started/index.md
  docs/getting-started/install/index.md
  docs/getting-started/migrate/index.md
  docs/getting-started/uninstall/index.md
  docs/getting-started/upgrade/index.md
  docs/help/start-app/index.md
  docs/index.md
Owners: @shopify/development-lifecycle

Add a method to read the auth token
  lib/shopify_cli/constants.rb
  lib/shopify_cli/environment.rb
Owners: @shopify/development-lifecycle

Test Environment.auth_token
  test/shopify-cli/environment_test.rb
Owners: @shopify/development-lifecycle

Expose an API, IdentityAuth.fetch_or_auth_partners_token to get the token or authenticate the user
  lib/shopify_cli/identity_auth.rb
  lib/shopify_cli/partners_api.rb
  test/shopify-cli/partners_api_test.rb
  test/test_helpers/partners.rb
Owners: @shopify/development-lifecycle

Extend the ensure_authenticated task to print a message when we are authenticating using the token
  lib/project_types/extension/commands/create.rb
  lib/project_types/rails/commands/create.rb
  lib/project_types/script/commands/create.rb
  lib/shopify_cli/commands/app/create/node.rb
  lib/shopify_cli/commands/app/create/rails.rb
  lib/shopify_cli/identity_auth.rb
  lib/shopify_cli/messages/messages.rb
  lib/shopify_cli/tasks.rb
  lib/shopify_cli/tasks/ensure_authenticated.rb
Owners: @shopify/development-lifecycle, @shopify/scripts-experience

Add tests to ensure_authenticated
  lib/shopify_cli/tasks/ensure_authenticated.rb
  test/shopify-cli/tasks/ensure_authenticated_test.rb
Owners: @shopify/development-lifecycle

Version 2.7.0
  CHANGELOG.md
  Gemfile.lock
  lib/shopify_cli/version.rb
Owners: @shopify/development-lifecycle

Don't fail when PATHEXT is not defined
  vendor/deps/cli-kit/lib/cli/kit/system.rb
Owners: @shopify/development-lifecycle

Update the CHANGELOG
  CHANGELOG.md
Owners: @shopify/development-lifecycle

WIP
  lib/project_types/theme/commands/pull.rb
  lib/project_types/theme/messages/messages.rb
  lib/shopify_cli/theme/syncer.rb
Owners: @shopify/development-lifecycle

Don't rescue from abort returning nil
  lib/shopify_cli/form.rb
Owners: @shopify/development-lifecycle

Update the CHANGELOG
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Change the approach and return printing the help instead
  lib/shopify_cli/form.rb
  lib/shopify_cli/services/app/create/node_service.rb
  lib/shopify_cli/services/app/create/rails_service.rb
Owners: @shopify/development-lifecycle

Add support for Tag Manager Extension
  lib/project_types/extension/models/specification_handlers/analytics_extension.rb
  lib/project_types/extension/tasks/configure_options.rb
Owners: @shopify/development-lifecycle

Raise AbortSilent instead
  lib/shopify_cli/services/app/create/node_service.rb
  lib/shopify_cli/services/app/create/php_service.rb
  lib/shopify_cli/services/app/create/rails_service.rb
Owners: @shopify/development-lifecycle

Fix `theme serve` failing when the port is already being used
  CHANGELOG.md
  lib/project_types/theme/messages/messages.rb
  lib/shopify_cli/theme/dev_server.rb
  test/shopify-cli/theme/dev_server/integration_test.rb
Owners: @shopify/development-lifecycle

Always restart anonymous tunnels (ignore duration)
  lib/shopify_cli/messages/messages.rb
  lib/shopify_cli/tunnel.rb
  test/shopify-cli/tunnel_test.rb
Owners: @shopify/development-lifecycle

return Result objects in Javy methods
  ext/javy/javy.rb
  test/ext/javy/javy_test.rb
Owners: @shopify/development-lifecycle

remove unnecesary validation of file executability
  ext/javy/javy.rb
  test/ext/javy/javy_test.rb
Owners: @shopify/development-lifecycle

Update CHANGELOG.md
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Abort the execution if git is not available
  lib/shopify_cli/git.rb
  lib/shopify_cli/messages/messages.rb
  test/shopify-cli/git_test.rb
Owners: @shopify/development-lifecycle

Update package name for TS checkout scripts (#1727)
  lib/project_types/script/config/extension_points.yml
Owners: @shopify/scripts-experience

convert Javy class into module
  ext/javy/javy.rb
Owners: @shopify/development-lifecycle

accept javy dest argument optionally
  ext/javy/javy.rb
  test/ext/javy/javy_test.rb
Owners: @shopify/development-lifecycle

create script javy command
  lib/project_types/script/cli.rb
  lib/project_types/script/commands/javy.rb
  lib/project_types/script/messages/messages.rb
  test/project_types/script/commands/javy_test.rb
Owners: @shopify/scripts-experience

make javy out argument optional
  lib/project_types/script/commands/javy.rb
  test/project_types/script/commands/javy_test.rb
Owners: @shopify/scripts-experience
