Repository Shopify/shopify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shopify/core-build-learn, @shopify/development-lifecycle, @shopify/scripts-platform, @shopify/theme-platform-dev-experience

.github/CODEOWNERS:

*       @shopify/core-build-learn
*       @shopify/development-lifecycle

/lib/project_types/script/ @shopify/scripts-platform
/test/project_types/script/ @shopify/scripts-platform

/lib/project_types/theme/ @shopify/theme-platform-dev-experience
/lib/shopify_cli/theme/ @shopify/theme-platform-dev-experience
/test/project_types/theme/ @shopify/theme-platform-dev-experience
/test/shopify-cli/theme/ @shopify/theme-platform-dev-experience

Improve `shopify theme package` to include the `release-notes.md` file
  lib/project_types/theme/commands/package.rb
  test/project_types/theme/commands/package_test.rb
Owners: @shopify/theme-platform-dev-experience

Update 'CHANGELOG.md'
  CHANGELOG.md
Owners: @shopify/development-lifecycle

being ThemeAdminAPI wrapper
  lib/shopify_cli/theme/theme_admin_api.rb
Owners: @shopify/theme-platform-dev-experience

update Theme api calls with ThemeAdminAPI
  lib/shopify_cli/theme/dev_server/hot_reload/remote_file_reloader.rb
  lib/shopify_cli/theme/development_theme.rb
  lib/shopify_cli/theme/syncer.rb
  lib/shopify_cli/theme/theme.rb
Owners: @shopify/theme-platform-dev-experience

remove puts
  lib/shopify_cli/theme/theme_admin_api.rb
Owners: @shopify/theme-platform-dev-experience

move dependency install before library version check
  lib/project_types/script/layers/application/push_script.rb
  test/project_types/script/layers/application/push_script_test.rb
Owners: @shopify/scripts-platform

update CHANGELOG
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Update lib/shopify_cli/theme/syncer.rb
  lib/shopify_cli/theme/syncer.rb
Owners: @shopify/theme-platform-dev-experience

Update test/shopify-cli/theme/dev_server/integration_test.rb
  test/shopify-cli/theme/dev_server/integration_test.rb
Owners: @shopify/theme-platform-dev-experience

Revert the Exception rescue change
  lib/shopify_cli/theme/syncer.rb
Owners: @shopify/theme-platform-dev-experience

Some fixes to ensure we can create and serve Rails apps with Ruby 3.1
  lib/shopify_cli/constants.rb
  lib/shopify_cli/services/app/create/rails_service.rb
Owners: @shopify/development-lifecycle

Packaging for release v2.13.0
  CHANGELOG.md
  Gemfile.lock
  lib/shopify_cli/version.rb
Owners: @shopify/development-lifecycle

Remove unnecessary line-break
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Drop 3.0 from the formula
  packaging/homebrew/shopify-cli.base.rb
Owners: @shopify/development-lifecycle

Fix packager
  lib/shopify_cli/packager.rb
Owners: @shopify/development-lifecycle

Bump theme-check to v1.10.1
  CHANGELOG.md
  Gemfile.lock
  shopify-cli.gemspec
Owners: @shopify/development-lifecycle

Extension renderer version
  lib/project_types/extension/models/specification.rb
  lib/project_types/extension/tasks/configure_features.rb
  test/project_types/extension/models/specification_test.rb
  test/project_types/extension/tasks/configure_features_test.rb
Owners: @shopify/development-lifecycle

Remove BYPASS_PARTNERS_PROXY env variable
  lib/project_types/script/cli.rb
  lib/project_types/script/layers/application/connect_app.rb
  lib/project_types/script/layers/infrastructure/api_clients/script_service_api_client.rb
  lib/project_types/script/layers/infrastructure/service_locator.rb
  test/project_types/script/layers/infrastructure/api_clients/script_service_api_client_test.rb
Owners: @shopify/scripts-platform

remove puts
  lib/shopify_cli/theme/theme_admin_api.rb
Owners: @shopify/theme-platform-dev-experience

being ThemeAdminAPI wrapper
  lib/shopify_cli/theme/theme_admin_api.rb
Owners: @shopify/theme-platform-dev-experience

update Theme api calls with ThemeAdminAPI
  lib/shopify_cli/theme/dev_server/hot_reload/remote_file_reloader.rb
  lib/shopify_cli/theme/development_theme.rb
  lib/shopify_cli/theme/syncer.rb
  lib/shopify_cli/theme/theme.rb
Owners: @shopify/theme-platform-dev-experience

ThemeAdminApi... correct `handle_permissions_error`
  lib/shopify_cli/theme/theme_admin_api.rb
Owners: @shopify/theme-platform-dev-experience

ThemeAdminApi... make `get` request more declarative
  lib/shopify_cli/theme/theme_admin_api.rb
Owners: @shopify/theme-platform-dev-experience

ThemeAdminAPI... make `shop` readable`
  lib/shopify_cli/theme/theme_admin_api.rb
Owners: @shopify/theme-platform-dev-experience

add ThemeAdminAPITest specs
  test/shopify-cli/theme/theme_admin_api_test.rb
Owners: @shopify/theme-platform-dev-experience

update Syncer / DevelopmentTheme specs to reflect new params order from ThemeAdminAPI
  test/shopify-cli/theme/development_theme_test.rb
  test/shopify-cli/theme/syncer_test.rb
Owners: @shopify/theme-platform-dev-experience

ThemeAdminApi... update `handle_permissions_error` messaging
  lib/project_types/theme/messages/messages.rb
  lib/shopify_cli/theme/theme_admin_api.rb
  test/shopify-cli/theme/theme_admin_api_test.rb
Owners: @shopify/theme-platform-dev-experience
