Repository Shopify/shopify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shopify/core-build-learn, @shopify/development-lifecycle, @shopify/scripts-experience

.github/CODEOWNERS:

*       @shopify/core-build-learn
*       @shopify/development-lifecycle

/lib/project_types/script/ @shopify/scripts-experience
/test/project_types/script/ @shopify/scripts-experience

Update CHANGELOG.md
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Test refactor
  lib/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/typescript_task_runner.rb
  test/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner_test.rb
  test/project_types/script/layers/infrastructure/languages/task_runner_test.rb
  test/project_types/script/layers/infrastructure/languages/typescript_task_runner_test.rb
Owners: @shopify/scripts-experience

rubocop fix
  test/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner_test.rb
  test/project_types/script/layers/infrastructure/languages/task_runner_test.rb
  test/project_types/script/layers/infrastructure/languages/typescript_task_runner_test.rb
Owners: @shopify/scripts-experience

refactor task_runner
  lib/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/typescript_task_runner.rb
  test/project_types/script/layers/infrastructure/languages/typescript_task_runner_test.rb
Owners: @shopify/scripts-experience

lint fixed
  lib/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/task_runner.rb
Owners: @shopify/scripts-experience

remove duplicate constant
  test/project_types/script/layers/infrastructure/languages/typescript_task_runner_test.rb
Owners: @shopify/scripts-experience

refactor task_runner
  lib/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/task_runner.rb
Owners: @shopify/scripts-experience

wip
  lib/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/task_runner.rb
Owners: @shopify/scripts-experience

Raise NotImplementedErrors
  lib/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/typescript_task_runner.rb
Owners: @shopify/scripts-experience

Remove unnecessary method as in parent
  lib/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner.rb
Owners: @shopify/scripts-experience

Improve `theme serve` errors and add logs for successful operations
  lib/project_types/theme/messages/messages.rb
  lib/project_types/theme/ui/sync_progress_bar.rb
  lib/shopify_cli/theme/syncer.rb
  lib/shopify_cli/theme/syncer/error_reporter.rb
  lib/shopify_cli/theme/syncer/operation.rb
  lib/shopify_cli/theme/syncer/standard_reporter.rb
  test/project_types/theme/commands/pull_test.rb
  test/project_types/theme/commands/push_test.rb
  test/shopify-cli/theme/dev_server/integration_test.rb
  test/shopify-cli/theme/syncer/operation_test.rb
  test/shopify-cli/theme/syncer/standard_reporter_test.rb
  test/shopify-cli/theme/syncer_test.rb
Owners: @shopify/development-lifecycle

Refactor methods in task_runner
  lib/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/typescript_task_runner.rb
Owners: @shopify/scripts-experience

Update 'CHANGELOG.md'
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Fix test case by removing non-existent EP from param
  lib/project_types/script/config/extension_points.yml
  test/project_types/script/ui/error_handler_test.rb
Owners: @shopify/scripts-experience

Fix 'DEPRECATED: Use assert_nil if expecting nil' message
  lib/project_types/extension/messages/messages.rb
  test/project_types/extension/messages/message_loading_test.rb
Owners: @shopify/development-lifecycle

Update lib/shopify_cli/identity_auth.rb
  lib/shopify_cli/identity_auth.rb
Owners: @shopify/development-lifecycle

Add support for authenticating via token
  lib/project_types/extension/commands/create.rb
  lib/project_types/rails/commands/create.rb
  lib/project_types/script/commands/create.rb
  lib/shopify_cli/commands/app/create/node.rb
  lib/shopify_cli/commands/app/create/rails.rb
  lib/shopify_cli/constants.rb
  lib/shopify_cli/environment.rb
  lib/shopify_cli/identity_auth.rb
  lib/shopify_cli/messages/messages.rb
  lib/shopify_cli/partners_api.rb
  lib/shopify_cli/tasks.rb
  lib/shopify_cli/tasks/ensure_authenticated.rb
  test/shopify-cli/environment_test.rb
  test/shopify-cli/partners_api_test.rb
  test/shopify-cli/tasks/ensure_authenticated_test.rb
  test/test_helpers/partners.rb
Owners: @shopify/development-lifecycle, @shopify/scripts-experience

Update lib/shopify_cli/identity_auth.rb
  lib/shopify_cli/identity_auth.rb
Owners: @shopify/development-lifecycle

Update test/shopify-cli/tasks/ensure_authenticated_test.rb
  test/shopify-cli/tasks/ensure_authenticated_test.rb
Owners: @shopify/development-lifecycle

Update test/shopify-cli/tasks/ensure_authenticated_test.rb
  test/shopify-cli/tasks/ensure_authenticated_test.rb
Owners: @shopify/development-lifecycle

Fix `theme serve` failing when the port is already being used (#1722)
  lib/shopify_cli/theme/dev_server.rb
Owners: @shopify/development-lifecycle

update changelog & test
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Fix CHANGELOG links
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Fix `theme serve` failing with the `--host` property (#1766)
  lib/shopify_cli/theme/dev_server.rb
Owners: @shopify/development-lifecycle

Fix the name of the task
  lib/shopify_cli/tasks.rb
Owners: @shopify/development-lifecycle

Fix rebase issue
  lib/shopify_cli/theme/dev_server.rb
Owners: @shopify/development-lifecycle

stop checking the format of a script project's build script command
  lib/project_types/script/layers/application/build_script.rb
  lib/project_types/script/layers/infrastructure/errors.rb
  lib/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/typescript_task_runner.rb
  lib/project_types/script/messages/messages.rb
  lib/project_types/script/ui/error_handler.rb
  test/project_types/script/layers/application/build_script_test.rb
  test/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner_test.rb
  test/project_types/script/layers/infrastructure/languages/typescript_task_runner_test.rb
Owners: @shopify/scripts-experience

stop showing hidden subcommands in base command help
  CHANGELOG.md
  lib/shopify_cli/command/project_command.rb
  test/shopify-cli/command/project_command_test.rb
Owners: @shopify/development-lifecycle

initial draft
  lib/project_types/script/layers/application/create_script.rb
  lib/project_types/script/layers/infrastructure/script_project_repository.rb
Owners: @shopify/scripts-experience

pass in initial dir instead of trying to detect it
  lib/project_types/script/layers/application/create_script.rb
  lib/project_types/script/layers/infrastructure/script_project_repository.rb
Owners: @shopify/scripts-experience

rubocop
  lib/project_types/script/layers/application/create_script.rb
Owners: @shopify/scripts-experience

nest FakeCommand class within the ProjectCommand
  test/shopify-cli/command/project_command_test.rb
Owners: @shopify/development-lifecycle

Fix 'DEPRECATED: Use assert_nil if expecting nil' message (#1790)
  lib/project_types/extension/messages/messages.rb
  test/project_types/extension/messages/message_loading_test.rb
Owners: @shopify/development-lifecycle

Rename 'Unchanged' status to 'Fixed' and show 'Fixed' status only when an error is fixed
  lib/project_types/theme/messages/messages.rb
  lib/shopify_cli/theme/syncer.rb
  lib/shopify_cli/theme/syncer/operation.rb
  test/shopify-cli/theme/syncer/operation_test.rb
  test/shopify-cli/theme/syncer_test.rb
Owners: @shopify/development-lifecycle

Improve message format in the Sycer::Operation
  lib/shopify_cli/theme/syncer/operation.rb
  test/shopify-cli/theme/syncer/operation_test.rb
  test/shopify-cli/theme/syncer_test.rb
Owners: @shopify/development-lifecycle

Rename 'Syncer::Operation#as_fixed_message' to 'Syncer::Operation#as_fix_message'
  lib/shopify_cli/theme/syncer.rb
  lib/shopify_cli/theme/syncer/operation.rb
  test/shopify-cli/theme/syncer/operation_test.rb
  test/shopify-cli/theme/syncer_test.rb
Owners: @shopify/development-lifecycle

stop checking the format of a script project's build script command (#1793)
  lib/project_types/script/layers/application/build_script.rb
  lib/project_types/script/layers/infrastructure/errors.rb
  lib/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/typescript_task_runner.rb
  lib/project_types/script/messages/messages.rb
  lib/project_types/script/ui/error_handler.rb
  test/project_types/script/layers/application/build_script_test.rb
  test/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner_test.rb
  test/project_types/script/layers/infrastructure/languages/typescript_task_runner_test.rb
Owners: @shopify/scripts-experience

Corrected the ID used for section hot reloading.
  lib/shopify_cli/theme/dev_server/hot-reload.js
Owners: @shopify/development-lifecycle

Update CHANGELOG.md
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Add `--live` option to the `theme pull` and the `theme push` commands
  lib/project_types/theme/commands/pull.rb
  lib/project_types/theme/commands/push.rb
  lib/project_types/theme/messages/messages.rb
  lib/shopify_cli/theme/theme.rb
  test/project_types/theme/commands/pull_test.rb
  test/project_types/theme/commands/push_test.rb
  test/shopify-cli/theme/theme_test.rb
Owners: @shopify/development-lifecycle
