Repository Shopify/shopify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shopify/core-build-learn, @shopify/development-lifecycle, @shopify/scripts-experience

Update 'CHANGELOG.md'
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Refactored the hot-reload.js module.
  lib/shopify_cli/theme/dev_server/hot-reload.js
Owners: @shopify/development-lifecycle

Update CHANGELOG.md
  CHANGELOG.md
Owners: @shopify/development-lifecycle

validate hash of downloaded javy binary
  ext/javy/hashes/javy-x86_64-linux-v0.1.0.gz.sha256
  ext/javy/hashes/javy-x86_64-macos-v0.1.0.gz.sha256
  ext/javy/hashes/javy-x86_64-windows-v0.1.0.gz.sha256
  ext/javy/javy.rb
  test/ext/javy/javy_test.rb
Owners: @shopify/development-lifecycle

remove javy install rake task
  Rakefile
Owners: @shopify/development-lifecycle

make Javy.install private
  ext/javy/javy.rb
  test/ext/javy/javy_test.rb
Owners: @shopify/development-lifecycle

Add env variable that lets you skip extension point validation
  lib/project_types/script/layers/application/create_script.rb
  lib/project_types/script/layers/application/extension_points.rb
  lib/project_types/script/layers/application/push_script.rb
  lib/project_types/script/layers/domain/extension_point.rb
  lib/project_types/script/layers/infrastructure/extension_point_repository.rb
  lib/project_types/script/messages/messages.rb
  test/project_types/script/layers/application/extension_points_test.rb
  test/project_types/script/layers/application/push_script_test.rb
  test/project_types/script/layers/infrastructure/extension_point_repository_test.rb
  test/project_types/script/test_helpers/fake_extension_point_repository.rb
Owners: @shopify/scripts-experience

style
  lib/project_types/script/layers/application/extension_points.rb
  lib/project_types/script/layers/application/push_script.rb
  lib/project_types/script/layers/domain/extension_point.rb
  test/project_types/script/layers/application/extension_points_test.rb
  test/project_types/script/layers/application/push_script_test.rb
  test/project_types/script/layers/infrastructure/extension_point_repository_test.rb
Owners: @shopify/scripts-experience

Improve `theme serve` errors and add logs for successful operations (#1788)
  CHANGELOG.md
  lib/project_types/theme/messages/messages.rb
  lib/project_types/theme/ui/sync_progress_bar.rb
  lib/shopify_cli/theme/syncer.rb
  lib/shopify_cli/theme/syncer/error_reporter.rb
  lib/shopify_cli/theme/syncer/operation.rb
  lib/shopify_cli/theme/syncer/standard_reporter.rb
  test/project_types/theme/commands/pull_test.rb
  test/project_types/theme/commands/push_test.rb
  test/shopify-cli/theme/dev_server/integration_test.rb
  test/shopify-cli/theme/syncer/operation_test.rb
  test/shopify-cli/theme/syncer/standard_reporter_test.rb
  test/shopify-cli/theme/syncer_test.rb
Owners: @shopify/development-lifecycle

🔥 old ensure_env script task code
  lib/project_types/script/cli.rb
  lib/project_types/script/commands/push.rb
  lib/project_types/script/forms/ask_app.rb
  lib/project_types/script/forms/ask_org.rb
  lib/project_types/script/forms/ask_script_uuid.rb
  lib/project_types/script/forms/ask_wants_to_run_against_shopify_org.rb
  lib/project_types/script/forms/connect.rb
  lib/project_types/script/layers/application/connect_app.rb
  lib/project_types/script/tasks/ensure_env.rb
  lib/shopify_cli/task.rb
  test/project_types/script/forms/connect_test.rb
  test/project_types/script/tasks/ensure_env_test.rb
Owners: @shopify/scripts-experience, @shopify/development-lifecycle

push and ask_org tests
  test/project_types/script/commands/push_test.rb
  test/project_types/script/forms/ask_org_test.rb
Owners: @shopify/scripts-experience

finitial draft
  lib/project_types/script/cli.rb
  lib/project_types/script/commands/push.rb
  lib/project_types/script/forms/connect.rb
  lib/project_types/script/layers/application/connect_app.rb
  lib/shopify_cli/task.rb
  test/project_types/script/commands/push_test.rb
  test/project_types/script/forms/connect_test.rb
  test/project_types/script/layers/application/connect_app_test.rb
Owners: @shopify/scripts-experience, @shopify/development-lifecycle

ask_app tests and rubocop
  lib/project_types/script/commands/push.rb
  lib/project_types/script/forms/ask_app.rb
  lib/project_types/script/forms/ask_org.rb
  lib/project_types/script/forms/ask_script_uuid.rb
  lib/project_types/script/forms/ask_wants_to_run_against_shopify_org.rb
  lib/project_types/script/layers/application/connect_app.rb
  test/project_types/script/forms/ask_app_test.rb
  test/project_types/script/forms/ask_org_test.rb
Owners: @shopify/scripts-experience

ask_script_uuid_test
  test/project_types/script/forms/ask_script_uuid_test.rb
Owners: @shopify/scripts-experience

ask_wants_to_run_against_shopify_org_test
  lib/project_types/script/cli.rb
  lib/project_types/script/forms/ask_app.rb
  lib/project_types/script/forms/ask_org.rb
  lib/project_types/script/forms/ask_script_uuid.rb
  lib/project_types/script/forms/run_against_shopify_org.rb
  lib/project_types/script/layers/application/connect_app.rb
  lib/project_types/script/layers/domain/script_project.rb
  test/project_types/script/commands/push_test.rb
  test/project_types/script/forms/ask_app_test.rb
  test/project_types/script/forms/ask_org_test.rb
  test/project_types/script/forms/ask_script_uuid_test.rb
  test/project_types/script/forms/connect_test.rb
  test/project_types/script/forms/run_against_shopify_org_test.rb
  test/project_types/script/layers/application/connect_app_test.rb
Owners: @shopify/scripts-experience

remove fakefs from form tests
  test/project_types/script/commands/push_test.rb
  test/project_types/script/forms/ask_app_test.rb
  test/project_types/script/forms/ask_org_test.rb
  test/project_types/script/forms/ask_script_uuid_test.rb
  test/project_types/script/forms/run_against_shopify_org_test.rb
Owners: @shopify/scripts-experience

'--live' should imply '--allow-live'
  lib/project_types/theme/commands/push.rb
  test/project_types/theme/commands/push_test.rb
Owners: @shopify/development-lifecycle

validate download sha before creating new file
  ext/javy/javy.rb
  test/ext/javy/javy_test.rb
Owners: @shopify/development-lifecycle

allow javy to be called outside script commands
  lib/project_types/script/commands/javy.rb
  test/project_types/script/commands/javy_test.rb
Owners: @shopify/scripts-experience

Add `--live` option to the `theme pull` and the `theme push` commands (#1798)
  CHANGELOG.md
  lib/project_types/theme/commands/pull.rb
  lib/project_types/theme/commands/push.rb
  lib/project_types/theme/messages/messages.rb
  lib/shopify_cli/theme/theme.rb
  test/project_types/theme/commands/pull_test.rb
  test/project_types/theme/commands/push_test.rb
  test/shopify-cli/theme/theme_test.rb
Owners: @shopify/development-lifecycle

Corrected inconsistency in hot-reload.js
  lib/shopify_cli/theme/dev_server/hot-reload.js
Owners: @shopify/development-lifecycle

Packaging for release v2.7.2
  CHANGELOG.md
  Gemfile.lock
  lib/shopify_cli/version.rb
Owners: @shopify/development-lifecycle

The '--live' parameter should not imply '--allow-live' in the 'push' command
  lib/project_types/theme/commands/push.rb
  test/project_types/theme/commands/push_test.rb
Owners: @shopify/development-lifecycle

Update 'CHANGELOG.md'
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Fix `--live` parameter, it should not imply `--allow-live` in the `theme push` command (#1807)
  CHANGELOG.md
  lib/project_types/theme/commands/push.rb
  test/project_types/theme/commands/push_test.rb
Owners: @shopify/development-lifecycle

Fix `rails new` command for Rails 7
  lib/project_types/rails/commands/create.rb
  lib/shopify_cli/services/app/create/rails_service.rb
  test/shopify-cli/services/app/create/rails_service_test.rb
Owners: @shopify/development-lifecycle

Bump theme-check version to 1.9.0
  CHANGELOG.md
  Gemfile.lock
  shopify-cli.gemspec
Owners: @shopify/development-lifecycle

Update the CHANGELOG
  CHANGELOG.md
Owners: @shopify/development-lifecycle

move directory_exists? check to infra
  lib/project_types/script/layers/application/create_script.rb
  lib/project_types/script/layers/infrastructure/script_project_repository.rb
Owners: @shopify/scripts-experience

test cases
  test/project_types/script/layers/application/create_script_test.rb
  test/project_types/script/layers/infrastructure/script_project_repository_test.rb
Owners: @shopify/scripts-experience

Fix Shopify hosted fonts to load via the local preview URL
  lib/shopify_cli/theme/dev_server.rb
  lib/shopify_cli/theme/dev_server/cdn_fonts.rb
  test/shopify-cli/theme/dev_server/cdn_fonts_test.rb
Owners: @shopify/development-lifecycle

Update 'CHANGELOG.md'
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Remove unused parameter from CdnFonts.new(~ctx~, app, theme:)
  lib/shopify_cli/theme/dev_server.rb
  lib/shopify_cli/theme/dev_server/cdn_fonts.rb
  test/shopify-cli/theme/dev_server/cdn_fonts_test.rb
Owners: @shopify/development-lifecycle

Indicate git is unavailable rather than erroring out
  lib/shopify_cli/git.rb
  test/shopify-cli/git_test.rb
Owners: @shopify/development-lifecycle

Parse the api-key and registration-id arguments
  lib/project_types/extension/commands/push.rb
  lib/project_types/extension/messages/messages.rb
Owners: @shopify/development-lifecycle

Parse the api-key and registration-id arguments
  lib/project_types/extension/commands/push.rb
  lib/project_types/extension/messages/messages.rb
Owners: @shopify/development-lifecycle

Update CHANGELOG
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Extract loading logic into a loader
  lib/project_types/extension/cli.rb
  lib/project_types/extension/commands/push.rb
  lib/project_types/extension/loaders/project.rb
  lib/project_types/extension/loaders/specification_handler.rb
Owners: @shopify/development-lifecycle

Extract loading logic into a loader
  lib/project_types/extension/cli.rb
  lib/project_types/extension/commands/push.rb
  lib/project_types/extension/loaders/project.rb
  lib/project_types/extension/loaders/specification_handler.rb
Owners: @shopify/development-lifecycle

Override project's environment with the variables provided through CLI arguments
  .gitignore
  lib/project_types/extension/commands/push.rb
  lib/project_types/extension/loaders/project.rb
  lib/project_types/extension/messages/messages.rb
  lib/shopify_cli/project.rb
  lib/shopify_cli/resources/env_file.rb
Owners: @shopify/development-lifecycle

.github/CODEOWNERS:

*       @shopify/core-build-learn
*       @shopify/development-lifecycle

/lib/project_types/script/ @shopify/scripts-experience
/test/project_types/script/ @shopify/scripts-experience
