Repository Shopify/shopify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shopify/core-build-learn, @shopify/development-lifecycle, @shopify/scripts-experience

.github/CODEOWNERS:

*       @shopify/core-build-learn
*       @shopify/development-lifecycle

/lib/project_types/script/ @shopify/scripts-experience
/test/project_types/script/ @shopify/scripts-experience

Testing
  lib/project_types/node/commands/serve.rb
  lib/shopify_cli/command_options.rb
  lib/shopify_cli/command_options/command_port_option.rb
Owners: @shopify/development-lifecycle

Packaging for release v2.6.0
  CHANGELOG.md
  Gemfile.lock
  lib/shopify_cli/version.rb
Owners: @shopify/development-lifecycle

Report errors even when backtrace is silenced
  bin/shopify
Owners: @shopify/development-lifecycle

Added custom port and extracted flag options (port, host) for app (rails, node, php) serve to command options
  lib/project_types/node/commands/serve.rb
  lib/project_types/node/messages/messages.rb
  lib/project_types/php/commands/serve.rb
  lib/project_types/php/messages/messages.rb
  lib/project_types/rails/commands/serve.rb
  lib/project_types/rails/messages/messages.rb
  lib/shopify_cli/command.rb
  lib/shopify_cli/command_options.rb
  lib/shopify_cli/command_options/command_port_option.rb
  lib/shopify_cli/command_options/command_serve_options.rb
  lib/shopify_cli/messages/messages.rb
  molly.rb
Owners: @shopify/development-lifecycle

Added unit tests
  test/project_types/node/commands/serve_test.rb
  test/project_types/php/commands/serve_test.rb
  test/project_types/rails/commands/serve_test.rb
Owners: @shopify/development-lifecycle

Add missing CHANGELOG entry
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Packaging for release v2.6.1
  CHANGELOG.md
  Gemfile.lock
  lib/shopify_cli/version.rb
Owners: @shopify/development-lifecycle

Version 2.6.2
  CHANGELOG.md
  Gemfile.lock
  ext/shopify-cli/extconf.rb
  lib/shopify_cli/version.rb
Owners: @shopify/development-lifecycle

Added acceptance test for payment methods script
  features/script.feature
  features/step_definitions/commands/script.rb
  features/support/process.rb
Owners: @shopify/development-lifecycle

Fixed exit status message
  features/support/process.rb
Owners: @shopify/development-lifecycle

Modified script_name
  features/step_definitions/commands/script.rb
Owners: @shopify/development-lifecycle

exit status
  features/support/process.rb
Owners: @shopify/development-lifecycle

Modified exit status
  features/support/process.rb
Owners: @shopify/development-lifecycle

Modified acceptance test
  features/step_definitions/commands/script.rb
Owners: @shopify/development-lifecycle

Added acceptance test environment variable logic to bypass authentication
  features/support/process.rb
  lib/project_types/script/commands/create.rb
  lib/shopify_cli/constants.rb
  lib/shopify_cli/environment.rb
Owners: @shopify/development-lifecycle, @shopify/scripts-experience

Add helpers for creating a VM for running acceptance tests
  features/script.feature
  features/step_definitions/shared/vm.rb
  utilities/docker.rb
Owners: @shopify/development-lifecycle

Enable error reporting and release 2.6.3
  CHANGELOG.md
  Gemfile.lock
  lib/shopify_cli/exception_reporter.rb
  lib/shopify_cli/version.rb
Owners: @shopify/development-lifecycle

Set up Docker on CI
  .github/workflows/shopify.yml
Owners: @shopify/development-lifecycle

Run all the acceptance tests in a sandboxed environment
  Dockerfile
  features/script.feature
  features/step_definitions/commands/script.rb
  features/step_definitions/commands/theme.rb
  features/step_definitions/commands/version.rb
  features/step_definitions/shared/docker.rb
  features/step_definitions/shared/vm.rb
  features/support/process.rb
  features/theme.feature
  features/version.feature
  utilities/docker.rb
Owners: @shopify/development-lifecycle

Add discount types EP
  lib/project_types/script/config/extension_points.yml
  test/project_types/script/layers/infrastructure/extension_point_repository_test.rb
Owners: @shopify/scripts-experience

Port code clean up
  lib/project_types/node/commands/serve.rb
  lib/project_types/php/commands/serve.rb
  lib/project_types/rails/commands/serve.rb
Owners: @shopify/development-lifecycle

Fixed rubocop and variable naming
  lib/project_types/node/commands/serve.rb
  lib/project_types/php/commands/serve.rb
  lib/project_types/rails/commands/serve.rb
Owners: @shopify/development-lifecycle

Add a test for the upload complete broadcast event
  test/shopify-cli/theme/dev_server/hot_reload_test.rb
Owners: @shopify/development-lifecycle

Added and fixed unit tests for port and invalid host
  test/project_types/node/commands/serve_test.rb
  test/project_types/php/commands/serve_test.rb
  test/project_types/rails/commands/serve_test.rb
Owners: @shopify/development-lifecycle

Added help messages
  lib/project_types/php/messages/messages.rb
  lib/project_types/rails/messages/messages.rb
Owners: @shopify/development-lifecycle

Remove unnecessary import
  lib/project_types/node/commands/serve.rb
Owners: @shopify/development-lifecycle

Add `theme serve` option to force polling: `--poll`
  lib/project_types/theme/commands/serve.rb
  lib/project_types/theme/messages/messages.rb
  lib/shopify_cli/theme/dev_server.rb
  lib/shopify_cli/theme/dev_server/watcher.rb
  test/project_types/theme/commands/serve_test.rb
Owners: @shopify/development-lifecycle

Add changelog entry
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Move changelog entry to Unreleased
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Remove comments
  test/project_types/rails/commands/serve_test.rb
Owners: @shopify/development-lifecycle

Fixed ruby test
  test/project_types/rails/commands/serve_test.rb
Owners: @shopify/development-lifecycle

Update test/project_types/script/layers/infrastructure/extension_point_repository_test.rb
  test/project_types/script/layers/infrastructure/extension_point_repository_test.rb
Owners: @shopify/scripts-experience

Make the changelog adhere to 'keep the changelog'
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Update the release steps
  RELEASING.md
Owners: @shopify/development-lifecycle

Update the release steps to include the content of the CHANGELOG
  RELEASING.md
Owners: @shopify/development-lifecycle

Extend the PR template with a new section to include post-release steps
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @shopify/development-lifecycle

Added acceptance test for shipping methods script
  features/script.feature
  features/step_definitions/commands/script.rb
  test/fixtures/project/gem/path/bin/bundle
  test/fixtures/project/gem/path/bin/rails
Owners: @shopify/development-lifecycle

Fixed rubocop
  features/step_definitions/commands/script.rb
Owners: @shopify/development-lifecycle

Remove legacy binary filename check
  lib/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner.rb
  test/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner_test.rb
Owners: @shopify/scripts-experience

Remove legacy path logic from TypeScript task runner
  lib/project_types/script/layers/infrastructure/languages/typescript_task_runner.rb
  test/project_types/script/layers/infrastructure/languages/typescript_task_runner_test.rb
Owners: @shopify/scripts-experience
