Repository Shopify/shopify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shopify/core-build-learn, @shopify/development-lifecycle, @shopify/scripts-experience

Update tests
  test/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner_test.rb
  test/project_types/script/layers/infrastructure/languages/typescript_task_runner_test.rb
Owners: @shopify/scripts-experience

refactor task runner
  lib/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/typescript_task_runner.rb
  test/project_types/script/layers/infrastructure/languages/typescript_task_runner_test.rb
Owners: @shopify/scripts-experience

Fix a bug because missing is missing
  lib/shopify_cli/commands/login.rb
  lib/shopify_cli/commands/switch.rb
  test/shopify-cli/commands/switch_test.rb
Owners: @shopify/development-lifecycle

Change variable name to make it clearer
  lib/shopify_cli/theme/dev_server/hot-reload.js
Owners: @shopify/development-lifecycle

remove byebug
  lib/project_types/script/layers/infrastructure/languages/task_runner.rb
  sdsd/.npmrc
  sdsd/.shopify-cli.yml
  sdsd/as-pect.config.js
  sdsd/sample-input.json
  sdsd/script.json
  sdsd/src/script.ts
  sdsd/src/shopify_main.ts
  sdsd/test/as-pect.d.ts
  sdsd/test/script.spec.ts
  sdsd/tsconfig.json
Owners: @shopify/scripts-experience, @shopify/development-lifecycle

Update CHANGELOG
  CHANGELOG.md
Owners: @shopify/development-lifecycle

add the feedback command
  lib/shopify_cli/commands.rb
  lib/shopify_cli/commands/feedback.rb
Owners: @shopify/development-lifecycle

Add customization of the `:BindAddress` web server option
  lib/project_types/theme/commands/serve.rb
  lib/shopify_cli/theme/dev_server.rb
Owners: @shopify/development-lifecycle

Update changelog with PR
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Add test for `--bind=HOST` theme serve option
  test/project_types/theme/commands/serve_test.rb
Owners: @shopify/development-lifecycle

Detect Node apps
  lib/shopify_cli.rb
  lib/shopify_cli/app_type_detector.rb
  test/shopify-cli/app_type_detector_test.rb
Owners: @shopify/development-lifecycle

Add logic for detecting Rails and PHP apps
  lib/shopify_cli/app_type_detector.rb
  test/shopify-cli/app_type_detector_test.rb
Owners: @shopify/development-lifecycle

do not include renderer_version with checkout configs
  CHANGELOG.md
  lib/project_types/extension/features/argo.rb
  lib/project_types/extension/models/specification_handlers/checkout_post_purchase.rb
  lib/project_types/extension/models/specification_handlers/checkout_ui_extension.rb
  test/project_types/extension/models/specification_handlers/checkout_post_purchase_test.rb
  test/project_types/extension/models/specification_handlers/checkout_ui_extension_test.rb
Owners: @shopify/development-lifecycle

Update the PR template to include test instructions
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @shopify/development-lifecycle

Update the changelog
  CHANGELOG.md
  lib/shopify_cli/reporting_configuration_controller.rb
Owners: @shopify/development-lifecycle

Prompt the user after the command has been executed
  lib/shopify_cli/core/monorail.rb
  lib/shopify_cli/exception_reporter.rb
  lib/shopify_cli/reporting_configuration_controller.rb
  test/shopify-cli/core/monorail_test.rb
  test/shopify-cli/reporting_configuration_controller_test.rb
Owners: @shopify/development-lifecycle

Update ShopifyCLI::Core::Monorail to use the new reporting configuration controller
  lib/shopify_cli.rb
  lib/shopify_cli/constants.rb
  lib/shopify_cli/core/monorail.rb
  lib/shopify_cli/environment.rb
  lib/shopify_cli/exception_reporter.rb
  lib/shopify_cli/exception_reporter/permission_controller.rb
  lib/shopify_cli/messages/messages.rb
  lib/shopify_cli/reporting_configuration_controller.rb
  test/shopify-cli/exception_reporter/permission_controller_test.rb
  test/shopify-cli/reporting_configuration_controller_test.rb
Owners: @shopify/development-lifecycle

Add and test the migration
  lib/shopify_cli/migrator/migration.rb
  lib/shopify_cli/migrator/migrations/1631709766_noop.rb
  lib/shopify_cli/migrator/migrations/1633691650_merge_reporting_configuration.rb
  test/project_types/php/commands/connect_test.rb
  test/shopify-cli/migrator/migrations/1633691650_merge_reporting_configuration_test.rb
  test/shopify-cli/migrator/migrations/migration_helper.rb
Owners: @shopify/development-lifecycle

Fix tests
  test/shopify-cli/reporting_configuration_controller_test.rb
Owners: @shopify/development-lifecycle

Ask for whether or not sending the error before asking for enabling automatic reporting
  lib/shopify_cli/core/monorail.rb
  lib/shopify_cli/exception_reporter.rb
  lib/shopify_cli/reporting_configuration_controller.rb
  test/fixtures/project/gem/path/bin/bundle
  test/fixtures/project/gem/path/bin/rails
Owners: @shopify/development-lifecycle

Add 'shopify reporting on/off' command
  lib/shopify_cli/commands.rb
  lib/shopify_cli/commands/reporting.rb
  lib/shopify_cli/core/monorail.rb
  lib/shopify_cli/exception_reporter.rb
  lib/shopify_cli/messages/messages.rb
  lib/shopify_cli/reporting_configuration_controller.rb
  test/shopify-cli/core/monorail_test.rb
  test/shopify-cli/reporting_configuration_controller_test.rb
Owners: @shopify/development-lifecycle

Test ReportingConfigurationController.enable_reporting
  lib/shopify_cli/commands/reporting.rb
  test/shopify-cli/reporting_configuration_controller_test.rb
Owners: @shopify/development-lifecycle

Extract the logic into a service
  lib/shopify_cli.rb
  lib/shopify_cli/commands/reporting.rb
  lib/shopify_cli/environment.rb
  lib/shopify_cli/exception_reporter.rb
  lib/shopify_cli/services.rb
  lib/shopify_cli/services/base_service.rb
  lib/shopify_cli/services/reporting_service.rb
  test/shopify-cli/services/reporting_service_test.rb
Owners: @shopify/development-lifecycle

Improve messages
  lib/shopify_cli/commands/reporting.rb
  lib/shopify_cli/messages/messages.rb
  lib/shopify_cli/reporting_configuration_controller.rb
  test/fixtures/project/gem/path/bin/bundle
  test/fixtures/project/gem/path/bin/rails
Owners: @shopify/development-lifecycle

Add acceptance test
  Gemfile
  Gemfile.lock
  Rakefile
  features/reporting.feature
  features/step_definitions/commands/reporting.rb
  features/step_definitions/commands/script.rb
  features/step_definitions/commands/theme.rb
  features/step_definitions/commands/version.rb
  features/step_definitions/shared/docker.rb
  features/support/process.rb
  test/fixtures/project/gem/path/bin/bundle
  test/fixtures/project/gem/path/bin/rails
  utilities/docker.rb
  utilities/docker/container.rb
Owners: @shopify/development-lifecycle

Update the CHANGELOG
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Add `--pull-json-interval=SECONDS` option to `theme serve`
  lib/project_types/theme/commands/serve.rb
  lib/shopify_cli/theme/dev_server.rb
  lib/shopify_cli/theme/dev_server/watcher.rb
Owners: @shopify/development-lifecycle

Some minor fixes
  lib/shopify_cli/core/monorail.rb
  lib/shopify_cli/exception_reporter.rb
  lib/shopify_cli/messages/messages.rb
  lib/shopify_cli/reporting_configuration_controller.rb
Owners: @shopify/development-lifecycle

add library and version to push packages
  lib/project_types/script/graphql/app_script_set.graphql
  lib/project_types/script/layers/application/build_script.rb
  lib/project_types/script/layers/application/push_script.rb
  lib/project_types/script/layers/domain/push_package.rb
  lib/project_types/script/layers/infrastructure/errors.rb
  lib/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner.rb
  lib/project_types/script/layers/infrastructure/push_package_repository.rb
  lib/project_types/script/layers/infrastructure/script_service.rb
  lib/project_types/script/messages/messages.rb
  lib/project_types/script/ui/error_handler.rb
  test/project_types/script/layers/application/build_script_test.rb
  test/project_types/script/layers/application/push_script_test.rb
  test/project_types/script/layers/domain/push_package_test.rb
  test/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner_test.rb
  test/project_types/script/layers/infrastructure/script_service_test.rb
  test/project_types/script/test_helpers/fake_push_package_repository.rb
Owners: @shopify/scripts-experience

Fix acceptance tests
  features/step_definitions/commands/script.rb
  features/step_definitions/commands/theme.rb
  utilities/docker/container.rb
Owners: @shopify/development-lifecycle

Pin the exact theme-check version
  shopify-cli.gemspec
Owners: @shopify/development-lifecycle

Update Gemfile.lock
  Gemfile.lock
Owners: @shopify/development-lifecycle

statically allocate port for callback
  .spin/ports.yml
  lib/shopify_cli/identity_auth.rb
Owners: @shopify/development-lifecycle

!!! WIP disable error reporting for now
  bin/shopify
Owners: @shopify/development-lifecycle

use spin fqdn env vars
  lib/shopify_cli/constants.rb
  lib/shopify_cli/environment.rb
  lib/shopify_cli/identity_auth.rb
Owners: @shopify/development-lifecycle

Add help messaging for --bind option
  lib/project_types/theme/messages/messages.rb
Owners: @shopify/development-lifecycle

Added changelog
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Added initial Github link and template
  .github/ISSUE_TEMPLATE.md
  lib/shopify_cli.rb
  lib/shopify_cli/commands/whoami.rb
  lib/shopify_cli/exception_reporter.rb
  lib/shopify_cli/github.rb
  lib/shopify_cli/github/issue_url_generator.rb
  lib/shopify_cli/messages/messages.rb
Owners: @shopify/development-lifecycle

Added stacktrace
  lib/shopify_cli/github/issue_url_generator.rb
Owners: @shopify/development-lifecycle

Fixed stacktrace
  lib/shopify_cli/github/issue_url_generator.rb
Owners: @shopify/development-lifecycle

.github/CODEOWNERS:

*       @shopify/core-build-learn
*       @shopify/development-lifecycle

/lib/project_types/script/ @shopify/scripts-experience
/test/project_types/script/ @shopify/scripts-experience
