Repository Shopify/shopify-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shopify/core-build-learn, @shopify/development-lifecycle, @shopify/scripts-experience

add to fully cover each outcome
  test/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner_test.rb
Owners: @shopify/scripts-experience

Update changelog with PR
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Re-write the acceptance test that ensures the template is bundled in the Gem
  features/install.feature
  features/release.feature
  features/step_definitions/commands/install.rb
  features/step_definitions/commands/script.rb
  features/step_definitions/shared/docker.rb
  features/support/requires.rb
  utilities/constants.rb
  utilities/utilities.rb
Owners: @shopify/development-lifecycle

create javy extension
  .gitignore
  Rakefile
  ext/javy/javy.rb
  ext/javy/version
Owners: @shopify/development-lifecycle

Remove Script create's `--no-config-ui`
  lib/project_types/script/commands/create.rb
  lib/project_types/script/layers/application/create_script.rb
  lib/project_types/script/layers/domain/script_json.rb
  lib/project_types/script/layers/infrastructure/script_project_repository.rb
  lib/project_types/script/messages/messages.rb
  test/project_types/script/commands/create_test.rb
  test/project_types/script/layers/application/create_script_test.rb
  test/project_types/script/layers/domain/script_json_test.rb
  test/project_types/script/layers/infrastructure/script_project_repository_test.rb
  test/project_types/script/layers/infrastructure/script_service_test.rb
  test/project_types/script/test_helpers/fake_script_project_repository.rb
Owners: @shopify/scripts-experience

use gzip for binary distributions
  ext/javy/javy.rb
  test/ext/javy/javy_test.rb
Owners: @shopify/development-lifecycle

Hacks to make Pivot work
  lib/project_types/script/config/extension_points.yml
  lib/shopify_cli/migrator.rb
  vendor/deps/cli-kit/lib/cli/kit/config.rb
Owners: @shopify/scripts-experience, @shopify/development-lifecycle

Changes required to be compatible with the pivot extensible discounts script
  lib/project_types/script/config/extension_points.yml
  lib/shopify_cli/migrator.rb
Owners: @shopify/scripts-experience, @shopify/development-lifecycle

Revert git issue template change
  .github/ISSUE_TEMPLATE.md
Owners: @shopify/development-lifecycle

Fixed test and issue template
  .github/ISSUE_TEMPLATE.md
  test/shopify-cli/github/issue_url_generator_test.rb
Owners: @shopify/development-lifecycle

add extension_points to ServerConfig::Extension model
  lib/project_types/extension/features/argo_serve.rb
  lib/project_types/extension/models/server_config/extension.rb
  lib/project_types/extension/tasks/converters/server_config_converter.rb
  lib/project_types/extension/tasks/load_server_config.rb
  test/project_types/extension/tasks/converters/server_config_converter_test.rb
Owners: @shopify/development-lifecycle

Use placeholder annotations in github issue template to replace stacktrace
  .github/ISSUE_TEMPLATE.md
  lib/shopify_cli/github/issue_url_generator.rb
Owners: @shopify/development-lifecycle

Revert test
  lib/shopify_cli/github/issue_url_generator.rb
  test/shopify-cli/github/issue_url_generator_test.rb
Owners: @shopify/development-lifecycle

default to depth=1 for package list
  CHANGELOG.md
  lib/project_types/extension/features/argo.rb
  lib/project_types/extension/tasks/find_npm_packages.rb
  test/project_types/extension/tasks/find_npm_packages_test.rb
Owners: @shopify/development-lifecycle

Remove unnecessary variable assignment
  lib/shopify_cli/theme/syncer.rb
Owners: @shopify/development-lifecycle

add acceptance for `rails create`
  CONTRIBUTING.md
  Dockerfile
  Gemfile
  Gemfile.lock
  features/app.feature
  features/step_definitions/commands/app.rb
  lib/project_types/rails/commands/create.rb
  lib/project_types/rails/forms/create.rb
  utilities/docker.rb
  utilities/docker/container.rb
Owners: @shopify/development-lifecycle

Add reload for js files
  lib/shopify_cli/theme/dev_server/hot-reload.js
Owners: @shopify/development-lifecycle

Update CHANGELOG
  CHANGELOG.md
  lib/shopify_cli/migrator.rb
Owners: @shopify/development-lifecycle

Add a missing entry to the CHANGELOG
  CHANGELOG.md
Owners: @shopify/development-lifecycle

Ensure the CLI can run after being installed from the local directory
  features/step_definitions/commands/version.rb
  features/version.feature
  utilities/docker/container.rb
Owners: @shopify/development-lifecycle

use npm -s list to silence irrelevant warnings
  lib/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner.rb
  lib/project_types/script/layers/infrastructure/languages/typescript_task_runner.rb
  test/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner_test.rb
  test/project_types/script/layers/infrastructure/languages/typescript_task_runner_test.rb
Owners: @shopify/scripts-experience

rename --ep to --api
  features/step_definitions/commands/script.rb
  lib/project_types/script/commands/create.rb
  lib/project_types/script/messages/messages.rb
  test/project_types/script/commands/create_test.rb
Owners: @shopify/development-lifecycle, @shopify/scripts-experience

fix linting
  features/step_definitions/commands/app.rb
  lib/project_types/rails/commands/create.rb
  utilities/docker/container.rb
Owners: @shopify/development-lifecycle

Change test to assert includes now that "uploadComplete" can be present
  test/shopify-cli/theme/dev_server/integration_test.rb
Owners: @shopify/development-lifecycle

remove rubocop trailing space
  test/shopify-cli/theme/dev_server/hot_reload_test.rb
Owners: @shopify/development-lifecycle

update metadata_validation_help
  lib/project_types/script/messages/messages.rb
Owners: @shopify/scripts-experience

content review
  lib/project_types/script/messages/messages.rb
Owners: @shopify/scripts-experience

support installing javy on windows
  ext/javy/javy.rb
  test/ext/javy/javy_test.rb
Owners: @shopify/development-lifecycle

parse package.json instead of running npm|yarn list
  CHANGELOG.md
  lib/project_types/extension/cli.rb
  lib/project_types/extension/features/argo.rb
  lib/project_types/extension/messages/messages.rb
  lib/project_types/extension/tasks/find_package_from_json.rb
  test/project_types/extension/features/argo_serve_test.rb
  test/project_types/extension/features/argo_test.rb
  test/project_types/extension/tasks/find_package_from_json_test.rb
Owners: @shopify/development-lifecycle

Add git available method
  lib/shopify_cli.rb
  lib/shopify_cli/git.rb
Owners: @shopify/development-lifecycle

Fix test
  test/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner_test.rb
Owners: @shopify/scripts-experience

Fix test
  .github/ISSUE_TEMPLATE.md
  test/project_types/script/layers/infrastructure/languages/assemblyscript_task_runner_test.rb
Owners: @shopify/development-lifecycle, @shopify/scripts-experience

Initial feedback template
  lib/shopify_cli/commands.rb
  lib/shopify_cli/commands/feedback.rb
Owners: @shopify/development-lifecycle

dev server support all argo extension types
  lib/project_types/extension/commands/create.rb
  lib/project_types/extension/forms/questions/ask_template.rb
  lib/project_types/extension/models/development_server_requirements.rb
  lib/project_types/extension/models/server_config/development_renderer.rb
  lib/project_types/extension/tasks/run_extension_command.rb
  test/project_types/extension/models/server_config/extension_test.rb
Owners: @shopify/development-lifecycle

Packaging for release v2.6.6
  CHANGELOG.md
  Gemfile.lock
  lib/shopify_cli/version.rb
Owners: @shopify/development-lifecycle

FIx rubocop
  lib/shopify_cli/git.rb
Owners: @shopify/development-lifecycle

support resource_url and public_url
  lib/project_types/extension/cli.rb
  lib/project_types/extension/features/argo_serve.rb
  lib/project_types/extension/models/server_config/development.rb
  lib/project_types/extension/models/server_config/development_resource.rb
  lib/project_types/extension/models/server_config/root.rb
  lib/project_types/extension/tasks/converters/server_config_converter.rb
  lib/project_types/extension/tasks/ensure_resource_url.rb
  lib/project_types/extension/tasks/merge_server_config.rb
  lib/project_types/extension/tasks/run_extension_command.rb
  test/project_types/extension/features/argo_serve_test.rb
  test/project_types/extension/tasks/converters/server_config_converter_test.rb
  test/project_types/extension/tasks/ensure_resource_url_test.rb
  test/project_types/extension/tasks/run_extension_command_test.rb
Owners: @shopify/development-lifecycle

Fix `theme serve` local asset serving when URLs are on the same line
  lib/shopify_cli/theme/dev_server/local_assets.rb
  test/shopify-cli/theme/dev_server/local_assets_test.rb
Owners: @shopify/development-lifecycle

Add changelog entry
  CHANGELOG.md
Owners: @shopify/development-lifecycle

add api_key and version to extensions server_config
  lib/project_types/extension/cli.rb
  lib/project_types/extension/models/server_config/app.rb
  lib/project_types/extension/models/server_config/development.rb
  lib/project_types/extension/models/server_config/extension.rb
  lib/project_types/extension/models/server_config/root.rb
  lib/project_types/extension/tasks/converters/server_config_converter.rb
  lib/project_types/extension/tasks/merge_server_config.rb
  lib/project_types/extension/tasks/run_extension_command.rb
  test/project_types/extension/tasks/converters/server_config_converter_test.rb
Owners: @shopify/development-lifecycle

.github/CODEOWNERS:

*       @shopify/core-build-learn
*       @shopify/development-lifecycle

/lib/project_types/script/ @shopify/scripts-experience
/test/project_types/script/ @shopify/scripts-experience
